{% extends 'base.html' %}
{% load static %}
{% block title %}
Ремонт, обслуговування та виготовлення напівпричепів
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'pages/css/semi-trailers-attention.css' %}">
<link rel="stylesheet" href="{% static 'pages/css/banner.css' %}">
<link rel="stylesheet" href="{% static 'pages/css/introduction.css' %}">
{% endblock %}
{% block main %}
<img class="banner" src="{% static 'pages/images/photos/banners/repair.jpg' %}">
<div class="introduction">
    <div class="title">Ремонт, обслуговування та виготовлення напівпричепів</div>
    <div class="text">У GOLDEN GRUZ ми надаємо широкий спектр послуг з ремонту та обслуговування напівпричепів.
        Наша команда висококваліфікованих фахівців здатна виконувати ремонт, обслуговування та
        виготовлення напівпричепів на замовлення, враховуючи ваші потреби і вимоги. Ми пропонуємо індивідуальний
        підхід до кожного клієнта, швидку та якісну роботу.
    </div>
</div>
<div class="semi-trailer-container">
    <div class="semi-trailer-blocks-wrapper">
        <div class="semi-trailer-block-1">
            <div class="title">
                <div class="img-wrapper">
                    <img src="{% static 'pages/images/icons/semi-trailer.png' %}" height="35" width="35">
                </div>
                <div class="text">Про виготовлення напівпричепів</div>
            </div>
            <div class="text">
                Однією з основних галузей діяльності компанії є виробництво
                напівпричепів-самоскидів, які використовуються для перевезення зерна, щебня тощо.
                Вони мають спеціальний кузов, який дозволяє зручно та безпечно вивантажувати вантаж.
            </div>
            <img class="middle-img" src="{% static 'pages/images/photos/semi_trailers_and_trucks/semi_trailer_1.jpg' %}">
            <div class="text">
                Крім існуючих моделей напівпричепів, GOLDEN GRUZ також пропонує виготовлення кузовів на
                замовлення на шасі клієнта. Це дозволяє задовольнити індивідуальні потреби та вимоги кожного
                клієнта. Компанія забезпечує індивідуальний підхід до кожного клієнта, враховуючи його побажання
                та вимоги.
            </div>
            <img class="middle-img" src="{% static 'pages/images/photos/semi_trailers_and_trucks/semi_trailer_5.jpg' %}">
            <div class="text">
                Зверніться до
                GOLDEN GRUZ для отримання професійних послуг з виготовлення транспортних засобів, що
                задовольнять всі
                ваші потреби. Компанія надає індивідуальний підхід до кожного клієнта, враховуючи всі його
                побажання.
            </div>
            <div class="learn-about-buttons">
                <a href="{% url 'product' %}">Переглянути напівпричепи</a>
            </div>
            <div class="title">
                <div class="img-wrapper">
                    <img src="{% static 'pages/images/icons/customer-support.png' %}" height="35" width="35">
                </div>
                <div class="text">Про обслуговування напівпричепів</div>
            </div>
            <div class="text">
                Крім виготовлення напівпричепів, GOLDEN GRUZ надає послуги з обслуговування. Наприклад ми встановлюємо
                гідравлічні циліндри відомих брендів, що забезпечують ефективний підйом. Також
                проводиться установка ходової частини напівпричепа-причепа (осі), пневматику та
                електрику. Компанія встановлює допоміжні механізми для підйомних осей, автоматичні замки
                воріт, люки для вивантаження зерна та обігрів кузова. Також ми надаємо послугу піскострую та фарбування рами причепа.
            </div>
            <img class="middle-img" src="{% static 'pages/images/photos/semi_trailers_and_trucks/semi_trailer_8.jpg' %}">
            <div class="text">
                Компанія також займається усиленням рам напівпричепів, що дозволяє збільшити їх міцність та
                надійність. Для цього використовуються якісні конструкційні сталі. Зварні роботи виконуються
                промисловими напівавтоматами у середовищі захисних газів, що гарантує якість і довговічність.
            </div>
            <div class="title">
                <div class="img-wrapper">
                    <img src="{% static 'pages/images/icons/repair.png' %}" height="35" width="35">
                </div>
                <div class="text">Про ремонт напівпричепів</div>
            </div>
            <div class="text">
                Також наша компанія займається ремонтом напівпричепів-самоскидів. Основні види ремонту:
                <p>
                <ol>
                    <li>Ремонт приводу коліс, ходової частини, пневматичного або гідравлічного гальмівного
                        механізму.
                    </li>
                    <li>Ремонт підвіски, яка може бути ресорною або безресорною, торсіонною, балансувальною.
                    </li>
                    <li> Діагностика та ремонт електропроводки для забезпечення роботи габаритних та сигнальних
                        вогнів, а також освітлювальних систем.
                    </li>
                    <li> Посилення рами, ремонт підлоги та бортів кузова.</li>
                    <li> Ремонт блоку з’єднання з вантажним автомобілем, тестування підйомного механізму,
                        опорних
                        катків.
                    </li>
                    <li> Специфічний ремонт холодильного обладнання для рефрижераторних напівпричепів.</li>
                    <li> Перевірка та відновлення герметичності цистерни для бензовозів.</li>
                    <li> Якісна теплоізоляція для ізотермічних фургонів.</li>
                    <li> Діагностика та ремонт гідравліки, підйомників для самоскидних напівпричепів.</li>
                </ol>
                </p>
            </div>
            <img class="middle-img" src="{% static 'pages/images/photos/semi_trailers_and_trucks/semi_trailer_13.jpg' %}">
            <div class="text">
                Ремонт напівпричепів може включати інші види ремонту, специфічні для різних типів причепів. Якщо
                у вас є потреба у ремонті, обслуговуванні, купівлі або виготовленні напівпричепа-самоскида -
                телефонуйте нам за номером +380 95 151 5315 або пишіть на пошту goldengruz543@gmail.com.
            </div>
            <div class="learn-about-buttons">
                <a href="{% url 'contacts' %}">Зв'язатися з нами</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}