{% extends 'base.html' %}
{% load static %}
{% block title %}
Ремонт та продаж вантажівок
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'pages/css/semi-trailers-attention.css' %}">
<link rel="stylesheet" href="{% static 'pages/css/contact-form.css' %}">
<link rel="stylesheet" href="{% static 'pages/css/banner.css' %}">
<link rel="stylesheet" href="{% static 'pages/css/introduction.css' %}">
{% endblock %}
{% block main %}
<img src="{% static 'pages/images/photos/banners/truck-repair.jpg' %}" alt="" class="banner">
<div class="introduction">
    <div class="title">Ремонт та продаж вантажівок</div>
    <div class="text">
        Golden Gruz - ваш надійний партнер у сфері ремонту та продажу тягачів. Ми спеціалізуємося на виконанні ремонтних
        робіт для усіх видів тягачів, надаючи повний спектр послуг з підтримки вашого комерційного транспорту.
    </div>
</div>
<div class="semi-trailer-container">
    <div class="semi-trailer-blocks-wrapper">
        <div class="semi-trailer-block-1">
            <div class="title">
                <div class="img-wrapper">
                    <img src="{% static 'pages/images/icons/customer-support.png' %}" height="35" width="35">
                </div>
                <div class="text">Про ремонт вантажівок</div>
            </div>
            <div class="text">
                <p>Наші головні види ремонту включають:</p>
                <ol>
                    <li>
                        Ремонт двигуна: Ми забезпечуємо професійну діагностику, ремонт та технічне обслуговування
                        двигунів усіх типів. Наші кваліфіковані механіки здатні виявити та усунути будь-які
                        несправності, забезпечуючи оптимальну продуктивність вашого тягача.
                    </li>
                    <li>
                        Ремонт трансмісії: Ми виконуємо ремонт, заміну та підтримку трансмісійних систем. Незалежно від
                        типу передачі (механічна, автоматична, напівавтоматична), ми готові вирішити будь-які проблеми з
                        трансмісією вашого тягача.
                    </li>
                    <li>
                        Ремонт системи гальмування: Ми спеціалізуємося на діагностиці та ремонті систем гальмування,
                        включаючи повну заміну гальмових дисків, колодок, гальмівних трубок та розподільчих механізмів.
                        Забезпечення надійності та ефективності гальмів - наш пріоритет.
                    </li>
                    <li>
                        Ремонт системи підвіски: Ми надаємо послуги з ремонту підвіски, включаючи заміну амортизаторів,
                        ресор, підшипників та інших компонентів. Наші експерти впораються з будь-якими викликами,
                        пов'язаними з підвіскою та забезпечать комфортну їзду вашого тягача.
                    </li>
                    <li>
                        Ремонт електричних систем: Ми виконуємо діагностику та ремонт електричних систем, включаючаючи
                        проводку, системи освітлення, системи запалювання та електронні компоненти. Наші експерти
                        знайдуть і виправлять будь-які проблеми з електричною системою вашого тягача.
                    </li>
                </ol>
            </div>
            <div class="text">
                Golden Gruz пропонує широкий спектр ремонтних послуг для тягачів, а ті, які були описані раніше, є лише
                основною частиною нашого ремонтного портфоліо. Крім ремонту двигуна, трансмісії, системи гальмування,
                підвіски та електричних систем, ми також займаємося іншими видами ремонту.
            </div>
            <div class="text">
                Також ми розуміємо, що кожен ремонтний випадок може бути унікальним, тому ми індивідуально підходимо до
                кожного проєкту. Наші механіки мають багаторічний досвід у галузі ремонту тягачів, і вони готові
                вирішити навіть найскладніші завдання. Ми забезпечуємо швидку діагностику, чітку комунікацію з клієнтами
                та своєчасне виконання ремонтних робіт.
            </div>
            <div class="title">
                <div class="img-wrapper">
                    <img src="{% static 'pages/images/icons/ukraine-hryvna.png' %}" height="35" width="35">
                </div>
                <div class="text">Інші пропозиції</div>
            </div>
            <div class="text">
                Ми також продаємо тягачі окремо або разом з напівпричепами. У нас є широкий вибір моделей і типів
                тягачів. Наші експерти готові допомогти вам вибрати найбільш підходящий тягач
                та напівпричіп відповідно до ваших потреб і фінансових можливостей. Вони нададуть вам професійну
                консультацію, щоб зробити оптимальний вибір для вашого бізнесу.
            </div>
            <div class="learn-about-buttons">
                <a href="{% url 'product' %}">Переглянути напівпричепи</a>
                <a href="{% url 'contacts' %}">Зв'язатися з нами</a>
            </div>
        </div>
    </div>
</div>
<br>
{% include 'includes/_contact-form.html' with form_name="Форма заявки" textarea_text="Опишіть вашу проблему" %}
{% endblock %}
{% block js %}
<script src="{% static 'pages/js/files.js' %}"></script>
{% endblock %}